<!-- Handlebars Producto -->
<div class="col-md-4 mb-3 producto d-flex justify-content-center" data-nombre="{{this}}" onclick="seleccionarProducto(this)">
    <div class="card border-0" style="width: 10rem;">
        <h5 class="card-title text-center text-capitalize">{{this}}</h5>
        <img src="/images/{{this}}.png" class="card-img-top" alt="{{this}}">
        <div class="card-body">
        </div>
    </div>
</div>